@import '../../scss/variables.scss';

.ct-usuarios{
    background: $bg-color;
  
}

.ct-usuarios__main{
    max-width: 1320px;
    min-height: 1024px;
 }

.ct-usuarios__section{
    max-width: 1300px;
    height: 670px;
    margin: 80px auto;
    background: $box-color;
    border-radius: 10px;
    box-shadow: -7px 6px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    padding: 10px;

      h2{
        margin-top: 20px;
        margin-left: 493px;
        margin-bottom: 20px;
        @include formatText($font-color, $font-text, 30px, 700);
    } table{
        border-collapse: collapse;
        tr 
          th {
            border: 1px solid white;
            @include formatText($font-color, $font-text, 18px, 600)
        }
         td{
          @include formatText(black, $font-text, 18px, 600);
            border: 1px solid white;
            text-align: center;
         }
    }  
}